body {
  --color-button-bg: rgb(248, 248, 248);
  --color-button-bg-selected: var(--color-pane-bg);
  --color-hover: rgb(246, 246, 246);
  --color-pane-bg: rgb(231, 231, 231);
  --color-stroke: rgb(208, 208, 208);
  --color-stroke-hover: rgb(104, 104, 104);
  --color-handle: var(--color-pane-bg);
  --color-handle-hover: rgb(168, 168, 168);
  --color-scrollbar: rgb(172 172 172);
  --color-scene-graph-selected: rgb(208, 208, 208);
  --color-texture-bg: rgb(208, 208, 208);
  --height-input: 24px;
  --gap: 5px;
  overscroll-behavior-y: none;
}

* {
  box-sizing: border-box;
  scrollbar-color: rgb(146, 146, 146) rgba(255, 166, 0, 0);
  scrollbar-width: thin;
  font-family: GeistMono;
}

.handle {
  cursor: ew-resize;
  background: var(--color-handle);

  &:hover {
    background: var(--color-handle-hover);
  }
}

.editorPane {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  background: var(--color-pane-bg);
  overflow: hidden;
}

.sceneGraph {
  display: grid;
  align-content: start;
  align-items: start;
  background: var(--color-pane-bg);

  & .node {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0px;
    background: transparent;
    height: 25px;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
  }
  & .row {
    display: grid;
    grid-template-columns: 1fr auto;

    & .collapse {
      margin: 2px;
      border: 1px solid transparent;
      border-radius: 5px;
      aspect-ratio: 1;
      &:hover {
        border: 1px solid var(--color-stroke-hover);
      }
    }
  }
  & .selected {
    background: var(--color-scene-graph-selected);
  }
}

.extensions {
  display: grid;
  align-content: start;
  align-items: start;
  height: 100%;
  overflow: auto;
}

.transformPane {
  display: grid;
  position: absolute;
  top: 0px;
  right: 0px;
  gap: 5px;
  margin: 5px;
  & > div {
    display: grid;
    gap: 2px;

    & > button {
      font-size: 8pt;
    }
  }
}

[data-active-pane] {
  user-select: none;
}
