@font-face {
  src: url('./assets/GeistMono-Regular.otf') format('opentype');
  font-family: 'GeistMono';
}

@font-face {
  src: url('./assets/GeistMono-Bold.otf') format('opentype');
  font-family: 'GeistMonoBold';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10pt;
  font-family: GeistMono;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2,
h3,
h4 {
  all: unset;
}
